.weather-app {
  margin-top: 100px;
  padding: 30px;
  border: transparent;
  border-radius: 10px;
  max-width: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  font-family: "Poppins", sans-serif;
  color: white;
}

.loader {
  margin-top: 200px;
  margin-bottom: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.form-control {
  opacity: 0.5;
}

.search {
  height: 38px;
  border-color: transparent;
  border-radius: 6px;
  padding: 0 10px;
  color: white;
  background-color: #2a5dc4;
  width: 100%;
}

form {
  padding-bottom: 30px;
}

h3 {
  font-size: 17px;
  margin-bottom: 30px;
}
.details {
  padding: 10px;
 
}

.main-column {
  max-width: 340px;
  margin-top: -15px;
}

.icon-column {
  margin-top: 10px;

}

.main-icon {
  width: 100px;
  float: right;
}

.main-temp {
  font-size: 80px;
  text-align: right;
  
}

.unit {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

.celcius {
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.description-column {
  padding: 10px 0 0 40px;
}

.text-capitalize {
  font-size: 22px;
}

.description-list {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 450px){
  .weather-app {
  margin-top: 100px;
  padding: 15x;
  border: transparent;
  border-radius: 10px;
  max-width: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  font-family: "Poppins", sans-serif;
  color: white;
}

.loader {
  margin-top: 200px;
  margin-bottom: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.main-icon {
  width: 90px;
  float: right;
}

.main-temp {
  font-size: 70px;
  text-align: right;
  margin-top: -100px;
}

.unit {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
  margin-top: -100px;
}

.celcius {
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.description-column {
  padding: 60px 0 0 40px;
   margin-left: -50px;
}

.text-capitalize {
  font-size: 22px;
}

.description-list {
  list-style: none;

}
}

